h1{
    text-align: center;
    text-transform: capitalize;
  
}
body{
    background-color: aquamarine;
    font-family: sans-serif;
}
a{
    text-transform: capitalize;
    text-decoration: none;

}